<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Service</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'services/addservice.css' %}">
</head>
<body>
    <div class="container">
        <h2>Add a New Service</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Service</button>
        </form>
        <div class="button-group">
            <a href="{% url 'service_list' %}" class="button">Back to Service List</a>
            <a href="{% url 'login' %}" class="button">Logout</a>
        </div>
    </div>
</body>
</html>



