<!DOCTYPE html>
{% extends 'services/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Camp Services Finder</title>
</head>
<body>
    {% block content %}
      <h2>Register</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
          <input type="checkbox" name="is_admin" id="is_admin">
          <label for="is_admin">Register as Admin</label>
        </div>
        
        <button type="submit">Register</button>
      </form>
    {% endblock %}
</body>
</html>

