<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Service</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'services/serviceupdate.css' %}">
</head>
<body>
    <div class="container">
        <h2>Update Service</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Update Service</button>
        </form>
        
        <a href="{% url 'service_detail' service.id %}" class="button">Back to Service Details</a>
    </div>
</body>
</html>


